# macOS
.DS_Store
.worktrees/

# Xcode user data
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside

# Xcode breakpoints and workspace state
*.xcbkptlist

# Build products
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
